:root.dark-theme {
  --md-sys-color-primary: 230, 175, 171;
  --md-sys-color-on-primary: 76, 36, 33;
  --md-sys-color-primary-container: 102, 48, 44;
  --md-sys-color-on-primary-container: 230, 191, 188;
  --md-sys-color-secondary: 127, 224, 230;
  --md-sys-color-on-secondary: 0, 73, 76;
  --md-sys-color-secondary-container: 0, 97, 102;
  --md-sys-color-on-secondary-container: 157, 226, 230;
  --md-sys-color-tertiary: 127, 206, 230;
  --md-sys-color-on-tertiary: 0, 59, 76;
  --md-sys-color-tertiary-container: 0, 79, 102;
  --md-sys-color-on-tertiary-container: 157, 213, 230;
  --md-sys-color-quaternary: 230, 214, 201;
  --md-sys-color-on-quaternary: 76, 65, 55;
  --md-sys-color-quaternary-container: 102, 87, 73;
  --md-sys-color-on-quaternary-container: 230, 219, 209;
  --md-sys-color-error: 230, 141, 141;
  --md-sys-color-on-error: 76, 11, 11;
  --md-sys-color-error-container: 102, 14, 14;
  --md-sys-color-on-error-container: 230, 167, 167;
  --md-sys-color-success: 167, 230, 177;
  --md-sys-color-on-success: 7, 51, 10;
  --md-sys-color-success-container: 230, 219, 209;
  --md-sys-color-on-success-container: 7, 51, 10;
  --md-sys-color-background: 24, 18, 11;
  --md-sys-color-on-background: 237, 224, 212;
  --md-sys-color-surface: 24, 18, 11;
  --md-sys-color-on-surface: 237, 224, 212;
  --md-sys-color-surface-variant: 32, 27, 19;
  --md-sys-color-on-surface-variant: 243, 235, 226;
  --md-sys-color-outline: 181, 178, 174;

  /*State Colors*/
  --md-extended-color-state-color-1: 130, 230, 203;
  --md-extended-color-on-state-color-1: 2, 76, 57;
  --md-extended-color-state-color-1-container: 3, 102, 75;
  --md-extended-color-on-state-color-1-container: 159, 230, 211;
  --md-extended-color-state-color-2: 230, 158, 174;
  --md-extended-color-on-state-color-2: 76, 23, 35;
  --md-extended-color-state-color-2-container: 102, 31, 47;
  --md-extended-color-on-state-color-2-container: 230, 179, 190;
  --md-extended-color-state-color-3: 148, 163, 230;
  --md-extended-color-on-state-color-3: 16, 27, 76;
  --md-extended-color-state-color-3-container: 21, 36, 102;
  --md-extended-color-on-state-color-3-container: 172, 182, 230;
  --md-extended-color-state-color-4: 230, 210, 164;
  --md-extended-color-on-state-color-4: 76, 62, 28;
  --md-extended-color-state-color-4-container: 102, 83, 37;
  --md-extended-color-on-state-color-4-container: 230, 216, 183;

  /* Hyperlink Colors */
  --md-extended-color-hyperlink-color: 143, 160, 255;
  --md-extended-color-hyperlink-visited-color: 224, 137, 224;
}
