:root {
  --md-sys-color-primary: 240, 113, 103;
  --md-sys-color-on-primary: 255, 255, 255;
  --md-sys-color-primary-container: 230, 191, 188;
  --md-sys-color-on-primary-container: 51, 24, 22;
  --md-sys-color-secondary: 0, 175, 185;
  --md-sys-color-on-secondary: 255, 255, 255;
  --md-sys-color-secondary-container: 157, 226, 230;
  --md-sys-color-on-secondary-container: 0, 48, 51;
  --md-sys-color-tertiary: 0, 129, 167;
  --md-sys-color-on-tertiary: 255, 255, 255;
  --md-sys-color-tertiary-container: 157, 213, 230;
  --md-sys-color-on-tertiary-container: 0, 39, 51;
  --md-sys-color-quaternary: 254, 217, 183;
  --md-sys-color-on-quaternary: 255, 255, 255;
  --md-sys-color-quaternary-container: 230, 219, 209;
  --md-sys-color-on-quaternary-container: 51, 43, 37;
  --md-sys-color-error: 186, 26, 26;
  --md-sys-color-on-error: 255, 255, 255;
  --md-sys-color-error-container: 230, 167, 167;
  --md-sys-color-on-error-container: 51, 7, 7;
  --md-sys-color-success: 46, 125, 50;
  --md-sys-color-on-success: 255, 255, 255;
  --md-sys-color-success-container: 167, 230, 177;
  --md-sys-color-on-success-container: 7, 51, 10;
  --md-sys-color-background: 255, 248, 244;
  --md-sys-color-on-background: 32, 27, 19;
  --md-sys-color-surface: 255, 248, 244;
  --md-sys-color-on-surface: 32, 27, 19;
  --md-sys-color-surface-variant: 254, 241, 229;
  --md-sys-color-on-surface-variant: 23, 21, 17;
  --md-sys-color-outline: 103, 99, 94;

  /*State Colors*/
  --md-extended-color-state-color-1: 5, 199, 147;
  --md-extended-color-on-state-color-1: 255, 255, 255;
  --md-extended-color-state-color-1-container: 159, 230, 211;
  --md-extended-color-on-state-color-1-container: 2, 51, 38;
  --md-extended-color-state-color-2: 246, 74, 138;
  --md-extended-color-on-state-color-2: 255, 255, 255;
  --md-extended-color-state-color-2-container: 230, 179, 190;
  --md-extended-color-on-state-color-2-container: 51, 15, 23;
  --md-extended-color-state-color-3: 39, 66, 186;
  --md-extended-color-on-state-color-3: 255, 255, 255;
  --md-extended-color-state-color-3-container: 172, 182, 230;
  --md-extended-color-on-state-color-3-container: 11, 18, 51;
  --md-extended-color-state-color-4: 255, 206, 92;
  --md-extended-color-on-state-color-4: 255, 255, 255;
  --md-extended-color-state-color-4-container: 230, 216, 183;
  --md-extended-color-on-state-color-4-container: 51, 41, 18;

  /* Hyperlink Colors */
  --md-extended-color-hyperlink-color: 4, 26, 143;
  --md-extended-color-hyperlink-visited-color: 131, 5, 112;
}
