# ===== Vue Configuration =====
VITE_BASE_URL=/subpath/to/web/app  # Not required, defaults to '/' if not set. For more details see https://vite.dev/guide/build#public-base-path

# ===== API Configuration =====
VITE_API_URL=http://api-example.com/

# ===== Google OAuth2 Configuration =====
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
