# ===== General configuration =====
DEBUG=False
AT_LEAST_ONE_ADMIN_USER=True # If set to True, the application will ensure that at least one admin user exists - e.g. by preventing the last admin user from being deleted or demoted. If no admin user exists, this setting has no effect.
FIRST_USER_IS_ADMIN=False # If set to True, if no admin users exists, the first newly registered user will automatically be granted admin privileges. Use with caution in production environments.
# - optional settings -
API_ROOT_PATH=/example/api/v1/ # Defaults to "". See more: https://fastapi.tiangolo.com/advanced/behind-a-proxy/#proxy-with-a-stripped-path-prefix

# ===== Database configuration =====
SYNC_DB_URI=postgresql://postgres:yourpassword@host:port/yourdatabase # Used for Alembic migrations.
ASYNC_DB_URI=postgresql+asyncpg://postgres:yourpassword@host:port/yourdatabase # Used for FastAPI application.
# - optional settings -
AUTO_CREATE_TABLES=False # Defaults to False. If set to True, uses SQLModel metadata to automatically create tables on app startup (see more: https://sqlmodel.tiangolo.com/tutorial/create-db-and-table/#create-the-database-and-table), this might mess up Alembic migrations. Use with caution. 

# ===== JWT configuration =====
JWT_ACCESS_SECRET_KEY=anyrandomstringforaccesskey
JWT_REFRESH_SECRET_KEY=anyrandomstringforrefreshkey
# - optional settings -
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60 # Defaults to 30 minutes.
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=1440 # Defaults to 1440 minutes (1 day).

# ===== Google OAuth2 configuration =====
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# ===== CORS configuration =====
# - optional settings -
CORS_ORIGINS=https://example.com, http://anotherdomain.com # Comma-separated list of allowed origins for CORS. Defaults to empty list.
