# ===== General configuration =====
DEBUG=False
# - optional settings -
API_ROOT_PATH=/example/api/v1/

# ===== Database configuration =====
SYNC_DB_URI=postgresql://postgres:yourpassword@host:port/yourdatabase # Used for Alembic migrations.
ASYNC_DB_URI=postgresql+asyncpg://postgres:yourpassword@host:port/yourdatabase # Used for FastAPI application.
AUTO_CREATE_TABLES=False # If set to True, might mess up with Alembic migrations. Use with caution.

# ===== JWT configuration =====
JWT_ACCESS_SECRET_KEY=anyrandomstringforaccesskey
JWT_REFRESH_SECRET_KEY=anyrandomstringforrefreshkey
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=1440

# ===== Google OAuth2 configuration =====
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# ===== CORS configuration =====
CORS_ORIGINS=https://example.com, http://anotherdomain.com
