**/__pycache__
**/*.pyc
**/.git
**/.gitignore
**/.pytest_cache
**/.venv
**/*.env*
!**/.env
**/*.sql
**/.vscode/
**/Dockerfile
**/.dockerignore
**/docker-compose.yml
**/docker-compose.override.yml
**/docker-compose.*.yml